.HeaderBackground{
}
.highPriority{
}
.mediumPriority{
    
}
.lowPriority{
  
}
.card {
  width: 23%;
  margin: 1%;
}
.sapMObjStatusError .sapMObjStatusText {
    background-color: bisque;
}
.codeprintClass{
  font-size: xx-large;
}
.textfontsize{
  font-size: large;
}
.sapUiSizeCompact .sapMSLI {
    height: 3rem;
}
